{% extends 'chat/base.html' %}
{% load static %}
{% block title %}Chat rooms{% endblock title %}

{% block content %}


<div class="container mx-auto shadow-lg rounded-lg">
  <!-- headaer -->
<div class="px-5 py-5 flex justify-between items-center bg-white border-b-2">
<div class="font-semibold text-2xl">Fuody chat</div>

<div
  class="h-12 w-12 p-2 bg-yellow-500 rounded-full text-white font-semibold flex items-center justify-center"
>
  RA
</div>
</div>
<!-- end header -->
<!-- Chatting -->
<div class="flex flex-row justify-between bg-white">
<!-- chat list -->
<div class="flex flex-col w-2/5 border-r-2 overflow-y-auto">
  <!-- search compt -->
  <!-- end search compt -->
  <!-- user list -->
  {% for chatroom in rooms %}
    {% if user in chatroom.members.all %}
    <a href="{% url 'room' chatroom.name %}">

      <div class="flex flex-row py-4 px-2 items-center border-b-2">
        <div class="w-1/4">
          {% for userprofile in userprofiles %}
            {% for chater in chatroom.members.all %}
              {% if chater != user %}
                  {% if chater == userprofile.user %}
                  <img
                  src="{{userprofile.avatar.url}}"
                  class="object-cover h-12 w-12 rounded-full"
                  alt=""
                  /> 
                  
                    {% endif %}
                {% endif %}
              {% endfor %}
          {% endfor %}
        </div>
        <div class="w-full">
          {% for chater in chatroom.members.all %}
            {% if user != chater %}
              <div class="text-lg font-semibold">{{chater.first_name}} {{chater.last_name}}</div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </a>
    {% endif %}
  {% endfor %}
  <!-- end user list -->
</div>
<!-- end chat list -->
<!-- message -->
<div class="w-full px-5 flex flex-col justify-between">
  <div class="flex flex-col mt-5"  id="chat-log">
    {% for chat in chats  %}
    {% if chat.user.id == request.user.id %}
    <div class="flex justify-end mb-4">
       <div
         class="mr-2 py-3 px-4 bg-blue-400 rounded-bl-3xl rounded-tl-3xl rounded-tr-xl text-white"
       >
         {{chat.content}}
       </div>
     </div>
    {% else %}
    <div class="flex justify-start mb-4">
       <div
         class="ml-2 py-3 px-4 bg-gray-400 rounded-br-3xl rounded-tr-3xl rounded-tl-xl text-white"
       >
         {{chat.content}}
       </div>
     </div>
    {% endif %}
{% endfor %} 
  </div>
  <div class="py-5">
    <input
      class="w-full bg-gray-300 py-5 px-3 rounded-xl"
      type="text"
      placeholder="type your message here..."
      id="chat-message-input"
    />
    <input id="chat-message-submit" type="submit" class="hidden">
  </div>
</div>
</div>
</div>

</div>


















    {{ room_name|json_script:"room-name" }}
    {{ request.user.id|json_script:"user_id" }}
    <script src="{% static 'js/room.js' %}"></script>
    <script>
        const el = document.getElementById('messages')
        el.scrollTop = el.scrollHeight
    </script>
{% endblock  %}