{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/fuody-favicon.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{% block title %}{% endblock  %}</title>
</head>
<body class="leading-normal tracking-normal text-gray-900" style="font-family: 'Source Sans Pro', sans-serif;">
    <nav class="bg-white border px-2 sm:px-4 py-2.5 rounded">
        <div class="container flex flex-wrap justify-between items-center mx-auto">
            <a class="flex items-center text-indigo-400 no-underline hover:no-underline font-bold text-2xl lg:text-3xl"  href="{% url "home" %}"> 
                <img class="h-8 fill-current text-indigo-600 pr-2" src="{% static 'favicon/fuody-favicon.png' %}"> Fuody
           </a>
            <div class="flex items-center md:order-2">
                <button type="button" class="flex mr-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 ring-purple-200 ring-4" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom">
                <span class="sr-only">Open user menu</span>
                <img class="w-8 h-8 rounded-full" src="{{ userprofile.avatar.url }}" alt="user photo">
                </button>
                <!-- Dropdown menu -->
                <div class="hidden z-50 my-4 text-base list-none bg-white rounded divide-y divide-gray-100 shadow" id="user-dropdown">
                <div class="py-3 px-4">
                    <span class="block text-sm text-gray-900">{{user.first_name}} {{user.last_name}}</span>
                    <span class="block text-sm font-medium text-gray-500 truncate text-gray-400">{{user.email}}</span>
                </div>
                <ul class="py-1" aria-labelledby="user-menu-button">
                    <li>
                    <a href="{% url 'user_order' %}" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100">My order</a>
                    </li>
                    <li>
                    <a href="{% url "logout" %}" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100">Sign out</a>
                    </li>
                </ul>
            </div>
        </div>
        
          <div class="invisible hidden justify-between items-center w-full md:flex md:w-auto md:order-1" id="mobile-menu-2">
            <ul class="flex flex-col p-4 mt-4 bg-gray-50 rounded-lg border border-gray-100 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white">
              <li>
                <a href="{% url "home" %}" class="block py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0" aria-current="page">Home</a>
              </li>
              <li>
                <a href="#" class="block py-2 pr-4 pl-3 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 text-gray-400">About</a>
              </li>
              <li>
                <a href="#" class="block py-2 pr-4 pl-3 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 text-gray-400">Services</a>
              </li>
              <li>
                <a href="#" class="block py-2 pr-4 pl-3 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 text-gray-400">Pricing</a>
              </li>
              <li>
                <a href="#" class="block py-2 pr-4 pl-3 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 text-gray-400">Contact</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    {% block content %}
    
    {% endblock  %}
    <script src="https://unpkg.com/flowbite@1.5.2/dist/flowbite.js"></script>
    <script src="https://kit.fontawesome.com/3c2db40db9.js" crossorigin="anonymous"></script>
    <script>
      const dismiss = new Dismiss(document.getElementById("alert-1"))
      document.getElementById("dismissBtn").addEventListener("click", (e) => {
        e.preventDefault()
        dismiss.hide()
      })
    </script>
</body>
</html>